<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Ciao! Per iniziare, inserisci le tue credenziali di instagram</h1>

    <form method="post" class="user-form" action="/submit">
        <input name="username" type="text" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <button type="submit">Invio</button>
    </form>

    <!-- Visualizza i messaggi flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <h2 class="{{ category }}" id="wait-text">{{ message }}</h2>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>