<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Operations</title>
</head>

<body>
    <h1 id="user-welcome"></h1>

    <div class="container">
        <button onclick="getFollowers()">Ottieni lista dei followers</button>
        <button onclick="getFollowees()">Ottieni lista dei seguiti</button>
        <button onclick="getNotFollowees()">Ottieni lista dei followers non seguiti</button>
        <button onclick="getNotFollowers()">Ottieni lista dei seguiti non followers</button>
    </div>

    <h2 id="wait-text">Attendi che venga creato il file</h2>
</body>
<script src="/static/scripts/operations.js"></script>

</html>